<ion-header>
  <ion-toolbar>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input class="bordered" [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Comment</ion-label>
          <ion-input class="bordered" [(ngModel)]="text"></ion-input>
        </ion-item>
      </ion-card>
        <ion-button expand="block" (click)="addParagraph(name, text)">Send</ion-button>


        <h2>Comments:</h2>


  <div style="overflow-y: scroll; height: 250px">
   
    <ion-card padding *ngFor="let paragraph of dataPL.paragraphs" style="text-align: center">
        <h4 *ngIf="paragraph.name== ''"> Anonymous</h4>
        <h4 *ngIf ="paragraph.name != ''">{{paragraph.name}}</h4>
        <p>{{paragraph.text}}</p>
    </ion-card>

  </div>
</ion-content>
